<div id="books-index">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Ruby on Rails Tutorial</h3>
            <%= image_tag  "ruby_on_rails_tutorial.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Docker for Rails Developers</h3>
            <%= image_tag  "docker_for_rails_developers.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Rails Angular Postgres Fullstack Development</h3>
            <%= image_tag  "rails_angular_full_stack.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>The Ruby Programming Language</h3>
            <%= image_tag  "the_ruby_programming_language.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>The Rails 5 Way</h3>
            <%= image_tag  "the_rails_5_way.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Learn Rails 5</h3>
            <%= image_tag  "learn_rails5.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Learn Ruby on Rails 5.1</h3>
            <%= image_tag  "learn_ruby_on_rails5.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 col-sm-3">
            <h3>Agile Web Development Rails 5</h3>
            <%= image_tag  "agile_web_dev_rails5.1.jpg" %>
            <%= link_to  "Read More", book_path(1), class: "btn btn-primary" %>
        </div>
    </div>
</div>